@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

.swiper {
    width: 100%;
    height: 100%;
    margin: auto;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgImg {
    width: 100%;
    background-image: url(/public/img/backCorrector.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.forSwiper {
    width: 100%;
    height: fit-content;
}

.forLinks {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    height: fit-content;
    z-index: 10;
}

.swiperImg {
    width: 350px;
    height: 350px;
    background-image: url(/public/img/karset/mainKarsetBg.png);
    background-size: contain;
}

.btnDef {
    font-size: 18px;
    font-weight: 600;
    background: #FFCD00;
    padding: 4px 8px;
    border-radius: 12px;
    margin-top: 10px;
}

.swiper-pagination-bullet-active {
    background: #FFCD00;
    width: 10px;
    height: 10px;
}